[submodule "src/franka_ros"]
	path = src/franka_ros
	url = https://github.com/frankaemika/franka_ros2.git
	branch = humble
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/realsenseai/realsense-ros.git
	branch = ros2-master
[submodule "src/anygrasp_sdk"]
	path = src/anygrasp_sdk
	url = https://github.com/graspnet/anygrasp_sdk.git
	branch = main
[submodule "src/openvla"]
	path = src/openvla
	url = https://github.com/openvla/openvla.git
	branch = main
[submodule "src/LeRobot-Anything-U-Arm"]
	path = src/LeRobot-Anything-U-Arm
	url = https://github.com/MINT-SJTU/LeRobot-Anything-U-Arm.git
	branch = main
