[submodule "src/franka_ros"]
	path = src/franka_ros
	url = https://github.com/frankaemika/franka_ros2.git
	branch = humble
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/realsenseai/realsense-ros.git
	branch = ros2-master
